<link rel="stylesheet" type="text/css" href="styles.css">

nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    padding-top: 15px;
    height: 60px;
}

nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
}

.top-links {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
}

.top-links li {
    display: inline-block;
    margin: 0 10px;
}

#amazing {
    color: white;
    text-align: center;
    padding: 80px;
    width: 350px; 
}

#amazing div {
    text-align: center;
}

header {
    background-image: url(https://static.npmjs.com/images/hero-cityscape.svg);
    background-size: cover;
}

.button1 {
    color: white;
    background-color: rgb(240,146,51);
    padding: 10px;
    margin: 0 20px 20px 70px;
    border-radius: 20px;
    width: 200px;
}

#free {
    color: white;
    background-color: rgb(39, 53, 71);
    box-sizing: content-box;
}

#free aside {
    padding: 80px;
    float: left;
}

.list {
    padding: 100px;
    margin: 0 80px 80px 20px;
    text-align: center;
}

.bullet {
    list-style-type: none;
}

.button2 {
    color: white;
    background-color: rgb(203,56,55);
    padding: 10px;
    margin: 0 0 0 480px;
    border-radius: 20px;
    width: 200px;
}

#npm {
    background-image: url(https://static.npmjs.com/images/npm-is-BOXES.svg);
    background-size: cover;
    background-color: rgb(39, 53, 71);
    margin: 0 auto;
}

#npm aside {
    color: white;
    text-align: center;
    padding: 100px;
    width: 400px;
}

.button3 {
    color: white;
    background-color: rgb(49, 68, 88);
    padding: 10px;
    margin: 0 20px 20px 80px;
    border-radius: 20px;
    width: 200px;
}

#blocks {
    background-color: white;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}
#blocks h2{
    color: rgb(83, 88, 98);
}
#blocks p{
    color: rgb(135, 145, 156)
}

.column-left {
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    width: 33%;
    float: left;
}
.column-center {
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    width: 33%;
    display: inline-block;
}
.column-right {
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    width: 33%;
    float: right;
}
